.section__header {
    padding: 10px;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    color: rgb(196, 1, 1);
    text-shadow: 5px 5px 5px rgb(97, 92, 92);

}

.section__subHeader {
    color: rgb(196, 1, 1);
    padding-left: 35%;
}

.section__link {
    text-decoration: none;
    color: green;
}

.section__link:focus {
    outline: 1px solid blue;
}

.section__link:hover {
    color: blue;
    outline: none;
}

.section__link:active {
    color: orangered;
}